# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 8</font>

## Download: http://github.com/dsacademybr

### Exercícios Sobre Módulos Python Para Análise de Dados

### ****** ATENÇÃO ******
### Alguns dos exercícios podem requerer pesquisa adicional na documentação dos pacotes. Pesquise!

### Exercício 1

In [43]:
import numpy as np

# Crie um array NumPy com 1000000 e uma lista com 1000000.
a=np.array([1000000])
lst=list(range(1000000))
# Multiplique cada elemento do array e da lista por 2 e calcule o tempo de execução com cada um dos objetos (use %time).

print('Multiplicando array por 2')
%time for i in a: i*2
print('Multiplicando lista por 2')
%time for i in lst: i*2

# Qual objeto oferece melhor performance, array NumPy ou lista?
#R:O array NumPy possui melhor performance

Multiplicando array por 2
CPU times: user 21 µs, sys: 1 µs, total: 22 µs
Wall time: 26.9 µs
Multiplicando lista por 2
CPU times: user 97.6 ms, sys: 2.96 ms, total: 101 ms
Wall time: 99.1 ms

### Exercício 2

In [67]:
# Exercício 2
# Crie um array de 10 elementos
elementos = np.arange(10)

# Altere o valores de todos os elementos dos índices 5 a 8 para 0
elementos[5:8:1]=0
elementos

array([0, 1, 2, 3, 4, 0, 0, 0, 8, 9])

### Exercício 3

In [90]:
# Crie um array de 3 dimensões e imprima a dimensão 1 
dim3=np.array([[1,2,3],[4,5,6],[7,8,9]])
dim[1]

array([4, 5, 6])

### Exercício 4

In [118]:
# Crie um array de duas dimensões (matriz).
dim2=np.array([[1,2,5],[3,4,6],[1,1,9]])
# Imprima os elementos da terceira linha da matriz
dim2[2]

array([1, 1, 9])

In [122]:
# Imprima todos os elementos da primeira e segunda linhas e segunda e terceira colunas
dim2[:2,1:]

array([[2, 5],
       [4, 6]])

### Exercício 5

In [123]:
# Calcule a transposta da matriz abaixo
arr = np.arange(15).reshape((3, 5))
arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [124]:
arr.transpose()

array([[ 0,  5, 10],
       [ 1,  6, 11],
       [ 2,  7, 12],
       [ 3,  8, 13],
       [ 4,  9, 14]])

### Exercício 6

In [49]:
# Considere os 3 arrays abaixo
# Retorne o valor do array xarr se o valor for True no array cond. Caso contrário, retorne o valor do array yarr.
import numpy as np
xarr = np.array([1.1, 1.2, 1.3, 1.4, 1.5])
yarr = np.array([2.1, 2.2, 2.3, 2.4, 2.5])
cond = np.array([True, False, True, True, False])

for i in range(len(list(xarr))):
    if cond[i] == True:
        print(xarr[i])
    else:
        print(yarr[i])
    

#retornando com list comprehension
#le-se: retorna x se a posicao cond[x] for verdadeiro, senao, retorno a posicao de yarr[x] de acordo com o tamanho de xarr
resultado1 = [xarr[x] if cond[x] == True else yarr[x] for x in range(len(list(xarr))) ] 

print('\n')

resultado1

1.1
2.2
1.3
1.4
2.5

[1.1, 2.2, 1.3, 1.4, 2.5]

### Exercício 7

In [78]:
# Crie um array A com 10 elementos e salve o array em disco com a extensão npy
import numpy as np
import os

A = np.arange(0,10,1)
A2=str(A)

arquivo = open(os.path.join('arquivo_teste.npy'),'w')
arquivo.write(A2)
arquivo.close
# Depois carregue o array do disco no array B
arquivo_leitura = open('arquivo_teste.npy','r')
conteudo = arquivo_leitura.read()

B = conteudo
print('conteudo de B:',B)

conteudo de B: [0 1 2 3 4 5 6 7 8 9]

### Exercício 8

In [2]:
# Considerando a série abaixo, imprima os valores únicos na série
import pandas as pd
obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c', 'a', 'b'])
obj.drop_duplicates()

0    c
1    a
2    d
5    b
dtype: object

### Exercício 9

In [2]:
# Considerando o trecho de código que conecta em uma url na internet, imprima o dataframe conforme abaixo.
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [27]:
from pandas import DataFrame

tamanhoJson=len(resp.json())
numbersValue = []
titlesValue=[]
labelsValue=[]
stateValue=[]

for i in range(tamanhoJson):
    numbersValue.append(resp.json()[i]['number'])
    
for i in range(tamanhoJson):
    titlesValue.append(resp.json()[i]['title'])

for i in range(tamanhoJson):
    labelsValue.append(resp.json()[i]['labels'])
    
for i in range(tamanhoJson):
    stateValue.append(resp.json()[i]['state'])
    
    
    
data = {'Numbers':numbersValue,
       'Title':titlesValue,
       'Labels':labelsValue,
       'State':stateValue}



frame = DataFrame(data)
frame

    Numbers  ...  State
0     25981  ...   open
1     25980  ...   open
2     25978  ...   open
3     25977  ...   open
4     25976  ...   open
5     25975  ...   open
6     25974  ...   open
7     25973  ...   open
8     25972  ...   open
9     25971  ...   open
10    25970  ...   open
11    25969  ...   open
12    25968  ...   open
13    25967  ...   open
14    25965  ...   open
15    25964  ...   open
16    25963  ...   open
17    25961  ...   open
18    25960  ...   open
19    25959  ...   open
20    25955  ...   open
21    25953  ...   open
22    25952  ...   open
23    25950  ...   open
24    25949  ...   open
25    25948  ...   open
26    25946  ...   open
27    25945  ...   open
28    25943  ...   open
29    25942  ...   open

[30 rows x 4 columns]

In [20]:
#dataframe esperado

,number,title,labels,state
0,20975,"Slicing columns with mixed types <str>,<int> f...",[],open
1,20974,BUG: Fix drop_duplicates failure when DataFram...,"[{'id': 76811, 'url': 'https://api.github.com/...",open
2,20970,"performance when ""combining"" categories","[{'id': 78527356, 'url': 'https://api.github.c...",open
3,20969,Getting a ... in my CSV when using to_csv(),[],open
4,20968,Sharey keyword for boxplot,[],open
5,20967,Column can be extended beyond DataFrame's length,[],open
6,20966,BUG: Fix wrong khash method definition,"[{'id': 76811, 'url': 'https://api.github.com/...",open
7,20965,BUG: Fix combine_first converts other columns ...,"[{'id': 76811, 'url': 'https://api.github.com/...",open
8,20964,BUG: Index with integer data and datetime64[ns...,[],open
9,20962,df.rank() has different behavior for python2 a...,[],open
10,20960,DOC: add reshaping visuals to the docs (Reshap...,"[{'id': 134699, 'url': 'https://api.github.com...",open
11,20958,Using apply on a grouper works only if done af...,"[{'id': 76811, 'url': 'https://api.github.com/...",open
12,20956,ENH: Return DatetimeIndex or TimedeltaIndex bi...,"[{'id': 49597148, 'url': 'https://api.github.c...",open
13,20955,Building documentation fails with `ImportError...,[],open
14,20954,Correlation inconsistencies between Series and...,[],open
15,20951,Addressing multiindex raises TypeError if indi...,[],open
16,20948,Indexing DataFrame with DateOffset is nearly i...,[],open
17,20947,Allow drop bins when using the cut function,"[{'id': 76812, 'url': 'https://api.github.com/...",open
18,20945,Data is mismatched with labels after stack wit...,[],open
19,20944,Drop rows based on condition,[],open
20,20943,pd.read_sql does not handle queries that retur...,[],open
21,20940,unclear error with read_sas,[],open
22,20937,BUG: Series(DTI/TDI) loses the frequency infor...,[],open
23,20936,__new__() missing 1 required positional argume...,[],open
24,20932,API: expose `axis` keyword in pandas.core.algo...,"[{'id': 35818298, 'url': 'https://api.github.c...",open
25,20930,DOC: Index.get_loc Cannot Accept List-like Tol...,[],open
26,20928,Added script to fetch wheels [ci skip],"[{'id': 131473665, 'url': 'https://api.github....",open
27,20927,read_sas OverflowError: int too big to convert...,[],open
28,20926,BLD: Lint for invalid files in wheels / packages,"[{'id': 129350, 'url': 'https://api.github.com...",open
29,20925,"Series.reset_index(level_name, drop=True) acce...","[{'id': 42670965, 'url': 'https://api.github.c...",open

### Exercício 10

In [57]:
# Crie um banco de dados no SQLite, crie uma tabela, insira registros, 
# consulte a tabela e retorne os dados em dataframe do Pandas

import sqlite3
conn=sqlite3.connect('banco_lab08_ex10.db')

#permite executar query
cur=conn.cursor()

cur.execute('select * from clientes')

col1=[]
col2=[]
col3=[]

for i in cur.fetchall():
    col1.append(i[0])
    col2.append(i[1])
    col3.append(i[2])



data = {'Coluna 1':col1,
       'Coluna 2': col2,
       'Coluna 3': col3}

frame = DataFrame(data)
frame

  Coluna 1  Coluna 2    Coluna 3
0    tiago  99999999  2432342342
1     joao  99999999  2432332342
2    jorge  99994858  1438342342
3    maria  95708392  6439342342
4    bruna  99999900  8432342442

# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>